/*  */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(217, 54%, 11%);
  color: hsl(0, 0%, 100%);
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
}

.imag {
  border-radius: 10px;
}

.container_imag {
  position: absolute;
  right: 25px;
  background-color: hsl(178, 100%, 50%);
  width: 300px;
  height: 300px;
  border-radius: 10px;
  transition: all 0.6s ease-out 0.1s;
  opacity: 0;
}

.container_imag-icon {
  position: absolute;
  top: 110px;
  left: 90px;
}

.container_line {
  border-top: 1px solid hsl(215, 32%, 27%);
}

.img_creator,
.text_creator {
  display: inline-block;
  vertical-align: bottom;
}

.img_creator {
  width: 14%;
  max-width: 14%;
  margin-right: 10px;
  margin-top: 15px;
  outline: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.container {
  position: relative;
  width: 350px;
  padding: 25px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 10px;
  box-shadow: 0px 25px 5px 20px hsl(222, 54%, 11%);
}

.container_text {
  color: hsl(215, 51%, 70%);
  font-size: 18px;
  margin: 0;
}

.container_moreinfo {
  display: flex;
  justify-content: space-between;
}

.more_info {
  vertical-align: middle;
}

.text-color {
  color: hsl(215, 51%, 70%);
}

.info_new-color {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

.right {
  margin-right: 5px;
}

.container_title-color:hover,
.text_name:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
  transition: all 0.6s ease-out;
}

.container_imag:hover {
  opacity: 0.6;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
